body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.outer_box{
    display: flex;
    flex-direction:column;
    width: 350px;
    height: 450px;
    border: 1.5px black solid;
    background-color: rgba(224, 215, 215, 0.475);
    border-radius: 10px;
}
.answere{
    text-align: right;
    font-size: 5rem;
    width: 100%;
    height: 20%;
    overflow: scroll;
    /* padding-right: 20px; */
    border-bottom: 2px black solid;

}
.layer_1{
    height: 16%;
    width: 100%;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: row;
}
.layer_1 button{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 1px black solid;
    cursor: pointer;
}

.layer_2{
    height: 16%;
    width: 100%;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: row;
}
.layer_2 button{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 1px black solid;
    cursor: pointer;
}
.layer_3{
    height: 16%;
    width: 100%;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: row;
}
.layer_3 button{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 1px black solid;
    cursor: pointer;
}
.layer_4{
    height: 16%;
    width: 100%;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: row;
}
.layer_4 button{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 1px black solid;
    cursor: pointer;
}
.layer_5{
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.layer_5 button{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 1px black solid;
    cursor: pointer;
}
.layer_5 .oper_0{
    width: 50%;
}
